@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

			html { 
              background: url(images/atticpic.png) no-repeat center center fixed; 
              background-color: #000;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
            }

            img.centrelogo{
                display: block;
                margin: auto;
                width: 320px;
                margin-top: 16%;
            }

            a, a:hover {
                text-decoration: none;
            }

            .socialbtns, .socialbtns ul, .socialbtns li {
                margin: 0;
                padding: 5px;
            }

            .socialbtns li {
                list-style: none outside none;
                display: inline-block;
            }

            .socialbtns .fa {
                color: #FFF;
                opacity: 0.92;
                width: 40px;
                height: 28px;
                padding-top: 12px;
                transition: all ease 0.3s;
                -moz-transition: all ease 0.3s;
                -webkit-transition: all ease 0.3s;
                -o-transition: all ease 0.3s;
                transform: rotate(-360deg);
                -moz-transform: rotate(-360deg);
                -webkit-transform: rotate(-360deg);
                -o-transform: rotate(-360deg);
            }

            .socialbtns .fa:hover {
                opacity: 1;
                transition: all ease 0.3s;
                -moz-transition: all ease 0.3s;
                -webkit-transition: all ease 0.3s;
                -o-transition: all ease 0.3s;
                transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
            }

            #snow{
                background: none;
                font-family: Androgyne;
                background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index:1;
                -webkit-animation: snow 10s linear infinite;
                -moz-animation: snow 10s linear infinite;
                -ms-animation: snow 10s linear infinite;
                animation: snow 10s linear infinite;
            }
            @keyframes snow {
              0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
              50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
              100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
            }
            @-moz-keyframes snow {
              0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
              50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
              100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
            }
            @-webkit-keyframes snow {
              0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
              50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
              100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
            }
            @-ms-keyframes snow {
              0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
              50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
              100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
            }   

            @media screen and (max-width: 920px) {
                img.centrelogo{
                display: block;
                margin: auto;
                width: 200px;
                margin-top: 45%;
            }

                        html { 
                          background: url(images/atticpicmob.png) no-repeat center center fixed; 
                          background-color: #000;
                          -webkit-background-size: cover;
                          -moz-background-size: cover;
                          -o-background-size: cover;
                          background-size: cover;
                        }
            }